<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>SampleApp</title>
=======
    <title>ToyApp</title>
>>>>>>> e06424400a2c3b228dc2e9b1eec1d9ca5278f8d9
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
